

.ppv_toolbar{
	position: absolute;
	margin: 10px;
	background-color: rgba(0,0,0,0.5);
}
.ppv_button{
	height: 32px;
	background-color: transparent;
}
.ppv_button:hover{
	background-color: lightgray;
}